[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }
  .readplus-loader {
      text-align: center;padding:20px;
  }
  .readplus-loader i {
     font-size:30px;color:#666;
  }
  .readplus-stats_bar {
      diplay:inline-block;height:20px;text-align:center;float:left;
      font-size:10px;
      color:#000;
      padding-top:4px;
      overflow: hidden;
  }
  .readplus-stats_bar.inverse {
      color:#fff;
  }
  
  .readplus-alert {
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-radius: 4px;
  }
  
  .readplus-alert-success {
      color: #3c763d;
      background-color: #dff0d8;
      border-color: #d6e9c6;
  }
  
  .readplus-alert-info {
      color: #31708f;
      background-color: #d9edf7;
      border-color: #bce8f1;
  }
  
  .readplus-alert-warning {
      color: #8a6d3b;
      background-color: #fcf8e3;
      border-color: #faebcc;
  }
  
  .readplus-alert-danger {
      color: #a94442;
      background-color: #f2dede;
      border-color: #ebccd1;
  }
  
  .readplus-infobox {
    padding: 2px;
    background-color: #fefefe;
    border: 1px solid black;
    border-radius: 4px;
  }
  
  .readplus-leadname {
      font-size: small;
      width: 350px;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      overflow: hidden;
  }
  
  .readplus-tab.active {
      background-color: white !important;
  }
  
  .readplus-tab {
      background-color: #e0e0e0 !important;
  }
  
  .readplus-tab a {
      color: #999999 !important;
  }
  
  .readplus-tab.active a {
      color: #337ab7 !important;
  }
  
  .readplus-pointer {
    cursor: pointer;
  }

